
<!DOCTYPE html>
<html>
<head>
    <title>Report List</title>
</head>
<body>
    <h1>ReportsList</h1>
    <ul>
        <% reportsList.forEach(reports => { %>
            <li><%= reports.description %></li>
        <% }); %>
    </ul>
</body>
</html>
