<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="stylesheets/admin.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="div">
        <div class="overlap">
          <div class="text-wrapper">EPolice</div>
          <img class="nepalflag" src="images/nepalflag.png" />
          <img class="user" src="image/user.png" />
          <img class="notification" src="image/notification.png" />
          <img class="home" src="images/home.png" />
        </div>
        <div class="text-wrapper-2">Admin Page</div>
        <div class="overlap-group">
          <div class="group">
            <div class="overlap-group-2">
              <div class="rectangle"></div>
              <div class="text-wrapper-3">description</div>
              <div class="text-wrapper-4">photos/videos</div>
              <img class="line" src="img/line-1.svg" />
              <img class="img" src="img/line-2.svg" />
              <img class="line-2" src="img/line-4.svg" />
              <div class="text-wrapper-5">username</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>