
<!DOCTYPE html>
<html>
<head>
    <title>Report List</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/admin.css">
</head>
<body>
    <h1>ReportsList</h1>
    <table width="60%">
        <tr>
          <th>Description</th>
          <th>Verified</th>
          <th>Handled</th>

        </tr>
        <% reportsList.forEach(reports => { %>
        <tr>
            
                <td><%= reports.description %></td>
                <td><input type="checkbox"/></td>
                <td><input type="checkbox"/></td>
        </tr>
        <% }); %>
      </table>

</body>
</html>
