<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergency Numbers - Nepal</title>
    <link rel="stylesheet" type="text/css" href="EN.css">
</head>
<body>
    <div class="container">
        <h1>Emergency Numbers</h1>
        <div class="emergency-list">
            <div class="emergency-service">
                <h2>Police</h2>
                Emergency Number:<a href="tel:100">100</a>
            </div>
            <div class="emergency-service">
                <h2>Ambulance</h2>
                Emergency Number: <a href="tel:102">102</a>
            </div>
            <div class="emergency-service">
                <h2>Fire Department</h2>
                Emergency Number: <a href="tel:101">101</a>
            </div>
            <!-- Add more emergency services here with tel: URIs -->
        </div>
    </div>
</body>
</html>