<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergency Numbers - Nepal</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/en.css">
</head>
<body>
    <div class="container">
        <h1>Emergency Numbers</h1>
        <div class="emergency-list">
            <div class="emergency-service">
                <h2>Police</h2>
                <a href="tel:100">100</a>
            </div>
            <div class="emergency-service">
                <h2>Ambulance</h2>
                 <a href="tel:102">102</a>
            </div>
            <div class="emergency-service">
                <h2>Fire Department</h2>
                <a href="tel:101">101</a>
            </div>
            <div class="emergency-service">
                <h2>Tourist Police (Bhrikuti Mandap)</h2>
                 <a href="tel: 01 4226359/4226403">01 4226359/4226403</a>
            </div>
            <div class="emergency-service">
                <h2>Ambulance, Red Cross</h2>
                Emergency Number: <a href="tel: 01 4228094">01 4228094</a>
            </div>
            <div class="emergency-service">
                <h2>Bir Hospital</h2>
                Emergency Number: <a href="tel: 01 4226963">01 01 4226963</a>
            </div>
            <!-- Add more emergency services here with tel: URIs -->
        </div>
    </div>
</body>
</html>