<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ePolice - Home</title>
    <link rel="stylesheet" href="stylesheets/homepage.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  </head>
  <body>
    <header>
      <div class="header-content">
        <img src="/images/nepal.png" alt="Nepal Flag" />
        <h1>EPolice</h1>
        <nav>
          <ul>
            <li>
              <a href="/home"> <img src="/images/home.png" alt="Home" /></a>
            </li>
            <li>
              <a  >
                <img src="/images/notification.png" alt="Notifications"
              /></a>
            </li>
            <li>
              <a href="/user"
                > <img src="/images/user.png" alt="User"
              /></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="interactive-cards">
        
        <h2>Report an Incident <i class="fas fa-exclamation-triangle "></i></h2>
        <p>
          If you have witnessed or experienced an incident, please report it
          here.
        </p>
        <a href="/report" class="btn-report">Report Incident</a>
      </div>
      <div class="interactive-cards">
        
        <h2>Emergency Numbers<i class="fas fa-phone"></i> </h2>
        <p>Quickly access emergency services in Nepal.</p>
        <a href="/emergencynumber" class="btn-emergency">Emergency Numbers</a>
      </div>

      <div class="interactive-cards">
       
        <h2>Nearest police station <i class="fas fa-search"></i></h2> 
        <p>Search for your nearby police station.</p>
        <a href="/map" class="btn-police">Find</a>
      </div>

      <!-- Second row of interactive cards -->
      <!-- <div class="interactive-cards">
       
        <h2>Nearest hospital <i class="fas fa-hospital"></i></h2> 
        <p>Find the nearest Hospital around you</p>
        <a href="/hospital" class="btn-hos">Find</a>
      </div>
      <div class="interactive-cards">
       
        <h2>News <i class="fas fa-newspaper"></i></h2> 
        <p>Read the news here.</p>
        <a href="/new-card-2" class="btn-new">News</a>
      </div>
      <div class="interactive-cards">
       
        <h2>Crime Information <i class="fas fa-exclamation-circle"></i></h2> 
        <p>Description for the crime.</p>
        <a href="/new-card-3" class="btn-crime">View</a>
      </div>
    </div> -->
  </body>
</html>
