<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ePolice - Home</title>
    <link rel="stylesheet" href="stylesheets/homepage.css">
</head>
<body>
    <div class="container">
        
        <div class="report-incident">
            <h2>Report an Incident</h2>
            <p>If you have witnessed or experienced an incident, please report it here.</p>
            <a href="report.ejs" class="btn-report">Report Incident</a>
        </div>
        <div class="emergency-numbers">
            <h2>Emergency Numbers in Nepal</h2>
            <p>Quickly access emergency services in Nepal.</p>
            <a href="/emergencynumber" class="btn-emergency">Emergency Numbers</a>
        </div>
        <div class="nearest-police">
            <h2>Nearest Police Station</h2>
            <p>search for the nearest police station.</p>
            <a href="report.ejs" class="btn-police">Find</a>
        </div>
    </div>
</body>
</html>




