<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Incident</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/report.css">
</head>
<body>
    <header>
        <div class="header-content">
          <img src="/images/nepalflag.png" alt="Nepal Flag" />
          <h1>ePolice</h1>
          <nav>
            <ul>
              <li>
                <a href="home.ejs">Home <img src="/images/home.png" alt="Home" /></a>
              </li>
              <li>
                <a href="/notifications"
                  >Notifications
                  <img src="/images/notification.png" alt="Notifications"
                /></a>
              </li>
              <li>
                <a href="/profile"
                  >User <img src="/images/user.png" alt="User"
                /></a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
    <h1>Report Incident</h1>
    <form action="/submit-incident" method="POST" enctype="multipart/form-data">
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" rows="6" required></textarea><br>
        <label for="media">Upload Photo/Video (optional):</label>
        <input type="file" id="media" name="media"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>