<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Incident</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/report.css">
</head>
<body>
    <h1>Report Incident</h1>
    <form action="/report" method="post">
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required />
        <label for="media">Upload Photo/Video (optional):</label>
        <input type="file" id="media" name="media" />

        <input type="submit" class="submit" value="submit" />
      
    </form>
    
</body>
</html>