<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Incident</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/report.css">
</head>
<body>
    <header>
        <div class="header-content">
          <img src="/images/nepal.png" alt="Nepal Flag" />
          <h1>EPolice</h1>
          <nav>
            <ul>
              <li>
                <a href="home"><img src="/images/home.png" alt="Home" /></a>
              </li>
              <li>
                <a href="/notifications"
                  >
                  <img src="/images/notification.png" alt="Notifications"
                /></a>
              </li>
              <li>
                <a href="/profile"
                  ><img src="/images/user.png" alt="User"
                /></a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
    <h2>Report Incident</h2>
    <form action="/report" method="post">
        <label for="description">Description:</label>
        <input type="text-area" id="description" name="description" required />
        <label for="media">Upload Photo/Video (optional):</label>
        <input type="file" id="media" name="media" />

        <input type="submit" class="submit" value="submit" />
      
    </form>
    
</body>
</html>