<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="stylesheets/user.css" />
  </head>
  <body>
    <header>
    <div class="header-content">
        <img src="/images/nepal.png" alt="Nepal Flag" />
        <h1>EPolice</h1>
        <nav>
          <ul>
            <li>
              <a href="/home"> <img src="/images/home.png" alt="Home" /></a>
            </li>
            <li>
              <a
                >
                <img src="/images/notification.png" alt="Notifications"
              /></a>
            </li>
            <li>
              <a href="/user"
                > <img src="/images/user.png" alt="User"
              /></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="inner-container">
          <div class="profile-picture">
              <img src="/images/user.png" alt="Profile Picture" /><br>
          </div>
          <div class="user-info">
              <h2>name:Jyoti Raut</h2>
              <p>Email: jraut3434@gmail.com</p>
          </div>
          <div class="report-stats">
              <p>Reports Submitted: 1</p>
              <!-- Add more report-related information as needed -->
          </div>
      </div>
  </div>
  </div>
  </body>
</html>