body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #F2F2F2;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

h1 {
    font-size: 40px;
    color: #333;
    margin-bottom: 20px;
}

.report-incident,
.emergency-numbers,
.nearest-police {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    max-width: 400px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.report-incident:hover,
.emergency-numbers:hover,
.nearest-police:hover {
    transform: scale(1.03);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 28px;
    color: #007BFF;
    margin-bottom: 15px;
}

p {
    font-size: 18px;
    color: #444;
    margin-bottom: 20px;
}

.btn-report,
.btn-emergency,
.btn-police {
    font-size: 20px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

.btn-report:hover,
.btn-emergency:hover ,
.btn-police:hover{
    background-color: #0056B3;
}